@import "../../app.scss";

.list {
  width: 100%;
  margin-top: 10px;

  .listTitle {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;

    @include tablet {
      font-size: 15px;
    }

    @include smallMobile {
      font-size: 12px;
    }
  }

  .wrapper {
    position: relative;

    .container {
      margin-left: 20px;
      display: flex;
      margin-top: 10px;
      // width: max-content;
      // transform: translateX(0px);
      // transition: all 1s ease;
    }

    .flex-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
    }

    .videoItem {
      margin: 10px;
    }
  }
}