@import "../../app.scss";

.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  @include mobile {

    font-size: 10px;
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;

    @include mobile {
      padding: 0px;
    }

    .left {
      display: flex;
      align-items: center;

      @include extraSmallMobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      img {
        height: 70px;
        margin-right: 10px;
      }

      .one {
        @include tablet {
          display: none;
        }
      }

      .navs {

        @include smallMobile {
          // display: none;
        }
      }

      .names {
        margin: 10px;
      }
    }
  }
}