@import "../../app.scss";

.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  @include mobile {

    font-size: 10px;
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      @include extraSmallMobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      img {
        height: 25px;
        margin-right: 40px;

        @include smallMobile {
          display: none;
        }
      }

      span {
        margin-right: 20px;
        cursor: pointer;

        &.mainLink {
          @include mobile {
            display: block;
          }
        }

        &.homeLink {
          @include mobile {
            display: none;
          }
        }
      }

      .one {
        @include tablet {
          display: none;
        }
      }

      .navs {
        margin-top: 15px;

        @include smallMobile {
          display: none;
        }
      }
    }



    .logo {
      color: #ffffff;
      font: normal 36px 'Cookie', cursive;
      margin: 0;

      @include mobile {
        font-size: 25px;
      }
    }

    .logo span {
      color: #ff2222;
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}